body {
  margin: 0px;
}

a {
  font-family: 'Segoe UI';
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #F89402;
}

nav {
  background-color: #A96502;
  display: block;
  -webkit-user-select: none;
}

nav > a {
  border-radius: 5px;
  background-color: #C98522;
  margin-right: 25px;
  padding: 10px;
}

pre {
  margin: 0px;
  display: none;
}

code {
  width: 100%;
  position: absolute;
  top: 87px;
  bottom: 0px;
  padding: 0px !important;
}

.displayable {
  display: block;
}

#execute {
  font-size: 35px;
  margin: 10px 25px 10px 10px;
  display: inline-block;
}