body {
  margin: 0px;
  background-color: #000000;
}

a {
  font-family: 'Segoe UI';
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #F89402;
}

nav {
  background-color: #A96502;
  display: block;
  -webkit-user-select: none;
}

nav > a {
  border-radius: 5px;
  background-color: #C98522;
  padding: 10px;
}

pre {
  margin: 0px;
  display: none;
}

code {
  width: 100%;
  position: absolute;
  top: 87px;
  bottom: 0px;
  padding: 0px !important;
  background-color: #282B2E;
  color: #E0E2E4;
}

.displayable {
  display: block !important;
}

div.unfocus {
  pointer-events: none;
  opacity: 0.5;
}

nav > a:first-of-type {
  font-size: 35px;
  margin: 10px 25px 10px 10px;
  display: inline-block;
}

#response > nav > a:last-of-type {
  padding: 0px 5px 0px 5px;
  float: right;
  margin: 5px 5px;
  font-size: 35px;
}

#response {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  width: 80%;
  height: 60%;
  background-color: #FFFFFF;
}